@import url('https://fonts.googleapis.com/css2?family=Rancho');

html, body, *{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
:root{
  --blackbutnotblack: #020005;
  --dark-yellow: #c4b279;
  --darkpastelred: #bc745f;
  --warmwhite: #fffaed;
  --brown: #5b524a;
  --beige: #e2b58b;
  --dark-gray: #313946;
  --coolwhite: #fffdfe;
  --teal: #64b4a8;

  --h1-size: 5rem;
  --h2-size: 3rem;
}
.warm{
  --primary: var(--blackbutnotblack);
  --secondary: var(--dark-yellow);
  --accent: var(--darkpastelred);
}
/* .light-warm{
  --primary: var(--warmwhite);
  --secondary: var(--brown);
  --accent: var(--beige);
}
.light-cool {

} */
.cool {
  --primary: var(--dark-gray);
  --secondary: var(--coolwhite);
  --accent: var(--teal);
}
body {
  --background-color: var(--primary);
  --heading-font-color: var(--secondary);
  --text-font-color: var(--accent);
  background-color: var(--background-color);
  text-align: center;
}
h1 {
  color: var(--heading-font-color);
  font-size: var(--h1-size);
}
h2 {
  color: var(--text-font-color);
  font-size: var(--h2-size);
}
h3, h4 {
  color: var(--secondary);
  font-family: "Rancho", cursive;
  font-size: 2rem;
}
.container {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 90%;
}
.card {
  margin: 2rem auto;
  padding: 2rem;
  border: 2px solid var(--accent);
  border-radius: 10px;
  height: 35rem;
  width: 21%;
}
.card-img {
  height: 80%;
  object-fit: cover;
}